// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
// 设置 container 的固定宽度

@if $enable-grid-classes {
  .container {
    @include make-container();
    // 对于不同的屏幕尺寸，通过媒体查询来定义每个 container 的最大宽度
    @include make-container-max-widths();
  }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.
// 流式布局的 container 是自适应的

@if $enable-grid-classes {
  .container-fluid {
    // 利用 mixin 的方法来设置流式布局
    @include make-container();
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
  .row {
    // 定义 row 并且清除列与列之间的浮动
    @include make-row();
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}
